<h2>MongoDB Connection</h2>
<form>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Mongodb Connection String</span>
    </div>
    <input #mongodb name="host" type="text" class="form-control" placeholder="Host">
  </div>
  <button (click)="this.fillTestSrver()">fill test server</button>
  <button type="submit" class="btn btn-primary" (click)="this.startConnection(mongodb.value)">start connection</button>
  <button type="submit" class="btn btn-primary" (click)="this.endConnection()">end connection</button>
</form>
<button (click)="this.resetDB()">reset</button>
<button (click)="this.insertCustomers(insertAmount.valueAsNumber)">add customers</button>
<input type="number" #insertAmount placeholder="insert amount" />
<button (click)="this.insertOrders()">add orders</button>
<button (click)="this.getCustomersWhoHaveOrdered(orderItem.value)">Get Customers who have ordered</button>
<input type="text" #orderItem placeholder="Item" />
<button (click)="this.getOrdersWithin(from.valueAsDate, to.valueAsDate)">get orders in date</button>
<input type="date" #from [value]="'01.11.2020'" placeholder="from"/>
<input type="date" #to [value]="'30.11.2020'" placeholder="to"/>
<button (click)="this.updateCustomerName(customer_id.valueAsNumber, name.value)">Update Customer</button>
<input type="number" #customer_id value="2"/>
<input type="text" #name value="Johnny Depp"/>
<button (click)="this.deleteOrdersFrom(customerId.valueAsNumber)">Delete Orders from Customer nr</button>
<input type="number" #customerId placeholder="Customer nr" />

